.list-header {
    background: $off-white;
    background-color: $dark-blue;
    border: 1px solid darken($off-white, 7%);
    color: white;
    padding: $s-size $m-size;
    padding: $s-size $m-size;
    text-align: center;
}

.list-item {
    border: 1px solid darken($color: $off-white, $amount: 7%);
    border-top: 1px solid darken($color: $off-white, $amount: 7%);
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: black;
    }
}