.list-header {
    background: $off-white;
    background-color: black;
    color: white;
    line-height: 10px;
    margin-bottom: 5rem;
}

.list-item {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    width: 80rem;
}

.each__item {
    font-size: medium;
    background: black;
    background-color: black;
    &:hover {
        background: $dark-blue;
        border: white;
    }
    color: white;
    padding: 25px;
    text-decoration: none;
    transition: background .3s ease;
    border: none;
    width: 150px;
    height: 100px;
}

.temp_item {
    margin-bottom: 20px;
    width: 20rem;
}