.list-header {
    background: $off-white;
    background-color: black;
    color: white;
    line-height: 10px;
    margin-bottom: 5rem;
}

.list-item {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 80rem;
}

.each__item {

    &:hover {
        background: $dark-grey;
    }
    padding: 5px;
    text-decoration: none;
    transition: background .3s ease;
    margin: 30px;
}

.temp_item {
    margin-bottom: 20px;
    width: 20rem;
}